*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
body{
  background-color:#111827;
  color: white;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 85px; /* নিচে জায়গা রাখা হলো যেন কন্টেন্ট ঢাকা না পড়ে */
}

nav {
  position: fixed;
  bottom: 10px; /* স্ক্রিনের নিচে ফিক্সড থাকবে */
  width: 90%;
  height: 65px; 
  background-color: #171717; /* টেলিগ্রামের ডার্ক কালার */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  border-top: 1px solid #D3B21A;
  border-bottom: 1px solid #D3B21A;
  border-radius: 25px;
  box-shadow: 3px 3px 12px rgba(211, 178, 26, 0.2);
  z-index: 1000;
}


.nav-page {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #aaaaaa;
  font-size: 11px;
  width: 20%;
  transition: all 0.2s ease-in-out;
}

.icon-wrapper {
  padding: 4px 16px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 2px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-label {
  font-weight: 500;
}

/* টেলিগ্রাম স্টাইল অ্যাক্টিভ বাটন এবং ব্যাকগ্রাউন্ড পিল ইফেক্ট */
.nav-item.active {
  color: #5288c1; /* টেলিগ্রাম ব্লু */
}

.nav-item.active .icon-wrapper {
  background-color: rgba(82, 136, 193, 0.2); /* হালকা নীল রাউন্ড ব্যাকগ্রাউন্ড */
  color: #5288c1;
}
